/* html{
    background-image: linear-gradient(rgb(61, 61, 61,0.6),rgb(61, 61, 61,0.6)) ,url(images/marcy-bg.png);
    background-size: cover;
}

body{
    padding: 20px;
} */

/* header h1{
    margin-top: -30px;
    font-size: 200px;
    font-family: 'Island Moments', cursive;
    margin-bottom: -70px;
    text-align: right;
    animation-duration: 2s;
    animation-name: jztr;
    animation-iteration-count: infinite;
    
}
@keyframes jztr
{from 
    {
        text-shadow: 0 0 5px white;
    }
    to {text-shadow: 0 0 10px rgb(255, 163, 194);}
  }


header h2, aside img, main{
    display: flex;
    align-items: right;
    flex-wrap: wrap;
}


header h2{
    font-family: 'Griffy', cursive;
    font-size: 180%;
    text-align: right;
    margin-left: 53%;
}

aside, main{
    display: inline-block;
}

aside{
    vertical-align: top;
    vertical-align: right;
}

main{
    vertical-align: right;
    text-align: right;
    margin-left: 60%;
    color: rgb(255, 247, 233);
}

.about h2{
    color:#f07b98;
}


aside img{
    margin-top: -20%;
    width: 50%;
    height: 50%;
}

.highlight {
    background: linear-gradient(120deg, #a0d6d6 0%, #f07b98 100%);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-position: 0 30%;
} */




/* EXTRA STYLING */
/* HTML + BACKGROUND */
html{
    background-image: linear-gradient(rgb(61, 61, 61,0.6),rgb(61, 61, 61,0.6)) ,url(images/marcy-bg.png);
    background-size: cover;
}

body{
        padding: 20px;
        margin: 50px;
    }

/* LAYOUTS */
/* main{
    width: 50%;
    display: inline-block;
    margin: 0 0;
} */
header{
    display: 'flex';
    flex-wrap: wrap;
    text-align: right;
}

aside{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.about{
    display: inline-block;
    margin-left: 60px;
    text-align: right;
    width: 50%;
    margin-left: 50%;
}

aside img{
    margin-top: -70px;
    /* display: inline-block; */
    width: 80%;
    height: 80%;
    /* justify-content: top left; */
    animation-duration: 2s;
    animation-name: dance;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* image animation cuz why not? */
@keyframes dance {
0%   {transform: rotate(0deg)}
  33%  {transform: rotate(2deg)}
  67%  {transform: rotate(-4deg)}
  100% {transform: rotate(0deg)}
  }

/* FONT STYLING */
header h1{
    margin-top: -30px;
    font-size: 200px;
    font-family: 'Island Moments', cursive;
    margin-bottom: -70px;
    text-align: right;
    /* border-color: chocolate; */
    text-shadow: 3px 0 0 chocolate;
}

/* header h1:hover{
    border-color: 0 0 20px 0px cornsilk;
} */

header h2{
    display: inline-block;
    font-family: 'Griffy', cursive;
    font-size: 30px;
    text-align: right;
    /* highlight */
        content:"";
        background-color: chocolate;
        background-position: 50% 50% ;
        height: 1.5em;
 }       

 .about h2{
    font-family: 'Griffy', cursive;
     display: inline-block;
     padding: 10px;
     color:chocolate;
     border: 2px solid black;
     background-color: black;
     border-radius: 20px;
 }

.about .text-box {
    text-align: left;
    opacity: 0.8;
    background-image: linear-gradient(rgba(255, 209, 140, 0.5),rgb(255, 209, 140,0.5)), url(images/paper3.jpg);
    background-size: auto;
    padding: 20px 30px 20px 50px;
    display: inline-block;
    font-size: 22px;
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
}

.highlight{
    color: brown;
}

/* aside */
aside h2{
    font-family: 'Griffy', cursive;
    display: inline-block;
    justify-content: left;
    padding: 10px;
    color:chocolate;
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
}

aside .text-box {
    padding: 20px 20px;
    text-align: left;
    opacity: 0.8;
    background-image: linear-gradient(rgba(255, 209, 140, 0.5),rgb(255, 209, 140,0.5)), url(images/paper3.jpg);
    background-size: auto;
    padding: 20px 30px 20px 50px;
    font-size: 22px;
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
}

aside, body{
    display: inline-block;
}

.best-moments{
    display: block;
    justify-content: left;
    margin: 10px 10px;
}

.bm h2{
    font-family: 'Griffy', cursive;
    font-size: 50px;
    display: inline-block;
    padding: 0 10px;
    color: rgb(0, 0, 0);
    /* text-shadow: 3px 0 0 black; */
    /* content:""; */
        background-color: chocolate;
        background-position: 50% 50%;
        background-size: auto;
        height: 1.2em;
}

.bm-col{
    /* display: inline-block; */
    text-align: center;
    /* opacity: 0.8; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(255, 138, 138, 0.8)), url(images/paper3.jpg); */
    background-color: black;
    background-size: auto;
    /* padding: 20px 30px 20px 50px; */
    font-size: 22px;
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
    padding: 20px 20px;
}
.bm-col:hover{
    box-shadow: 0 0 20px 0px cornsilk;
}

.bm-col h3{
    text-align: center;
    color: chocolate;
}

.video h2{
    font-family: 'Griffy', cursive;
    font-size: 50px;
    display: inline-block;
    padding: 20px 20px;
    color: chocolate;
    text-shadow: 3px 0 0 black;
}

.video{
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icons .fa{
    color: chocolate;
    margin: 0 13px;
    cursor: pointer;
    padding: 10px 0;
}

.fa-heart{
    color: chocolate;}

footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: black;
    border-radius: 10px;
    /* color: cornsilk; */
    font-size: 20px;
}

footer p{
    color: cornsilk;
}
footer h3{
    color: cornsilk;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 25px;
}


/* .bm-col{
    display: flex;
    flex-basis: 31%;
    background: mistyrose;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    justify-content: center;
} */


/* .row img{
    width: 300px;
    height: auto;
    padding: auto 20px;
} */



.bm{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.bm-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    margin: auto 20px;
}

.bm-col img{
    width: 100%;
    border-radius: 10px;
}

.row{
    display: flex;
    /* width: 30%; */
    justify-content: space-between;
}

/* .bm-col p{
    padding: 0;
}

.bm-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
} */

/* .m-m{
    /* margin-top: -50px;
    margin-left: 50px;
    text-align: right;}*/

/* footer img{
    width: auto;
    height: 20%;
    position: absolute;
    left: 75%;
    /* float: right; */
    /* margin: 0 0; */
    /* position: fixed; */
    /* top:0px;
    right:0px;} */